body {
    background-color: #d4ffea;
    font-family: "League Spartan", sans-serif;
}

h1 {
    background-color: white;
    width: 200px;
    text-align: center;
    margin: 2% auto;
    padding: 10px;
    border-radius: 25px;
    text-decoration: #53c28b dashed underline;
}


table {
    margin: 0 auto;
    text-align: left;
    width: 600px;
    border-collapse: collapse;
}

th, td {
    padding: 2%;
}

th {
    border-bottom: 2px solid black;
}

td {
    border-bottom: 1px solid #53c28b;
}
